@model IEnumerable<_23DH114114_MyStore1.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">DANH SACH DANH MUC </h2>


<table class="table bg-info col-lg-́́12 col-md-6̉ col-sm-3">
    <tr>
        <th class="bg-success col-lg-8 col-md-4 col-sm-2 ">
            @Html.DisplayNameFor(model => model.CategoryName)
            (Ten Danh Muc)
        </th>
        <th class="bg-success col-lg-3 col-md-2 col-sm-1"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
            
            
        </td>
        <td>
            @Html.ActionLink("Cap nhat", "Edit", new { id=item.CategoryID }, new { @class = "btn btn-primary btn-sm" }) 
           
            @Html.ActionLink("Xoa", "Delete", new { id=item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Them moi", "Create", null, new { @class = "btn btn-primary " })
</p>
